.navbar {
	background-color: lightgrey;
	opacity: .6;
	border: 1px solid papayawhip;
}
/*.liquid {
	background-image: url("../img/uploads/tmp/wood.jpg");
	background-size: 100%, 100%;
	background-repeat: no-repeat;
}*/
body {
	padding: 100px;
	color: black;
	font-family: 'Indie Flower', cursive;
	background-color: ghostwhite;
}
a {
	color: black;
}
.footer {
	position: relative;
  	margin-top: -150px; /* negative value of footer height */
  	height: 150px;
  	clear:both;
  	padding-top:20px;
}
html, body {
  	height: 100%;
}

#wrap {
  	min-height: 100%;
}

#main {
  	overflow:auto;
  	padding-bottom:150px; /* this needs to be bigger than footer height*/
}
img {
	position: static;
	width: 200px;
	height: 250px;
}
.bar {
	width: 100%;
	height: 0%;
	border: 1px solid lightgrey;
}
.ketchup {
	position: absolute;
	width: 900px;
	height: 500px;
	background-image: url("../img/uploads/tmp/soda_bg.png");
	background-repeat: no-repeat;
}